
h2{
  color: #yellow;
  font-weight: bold;
  letter-spacing:
}

        #container {
        background-color: #yellow;
        margin-left:20%;
        margin-right:20%;height:600px;
        font-family: 'Calibri', 'Arial', sans-serif
      }


      #color{
        color: #33ff00;
        font-family: "arial narrow", 'Atala', 'verdana',serif;
        }


        #java{
          color: yellow;
      }
